.btn {
  display: inline-flex;
  font-weight: 600;
  line-height: 21px;
  padding: 15px 46px;
  color: $color-tangaroa;
  background-color: $color-default-white;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--back {
    margin-top: -7px;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 240px;
  }

  &--form {
    padding: 10px 46px;
    justify-content: center;

    @media (max-width: 1023px) {
      margin-top: 0;
    }
  }

  @media (max-width: 1023px) {
    margin-top: 12px;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn__container {
  margin-top: auto;
}
