.contacts {
  padding-top: 124px;
  padding-bottom: 93px;

  @media (max-width: 1023px) {
    padding-top: 94px;
    padding-bottom: 66px;
  }

  @media (max-width: 767px) {
    padding-top: 55px;
    padding-bottom: 45px;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 1023px) {
    gap: 30px;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.contacts__map {
  max-width: 560px;
  max-height: 306px;

  @media (max-width: 1023px) {
    max-width: none;
    max-height: 335px;
  }

  @media (max-width: 767px) {
    order: 2;
    max-height: 316px;
  }
}

.contacts__info {
  padding-top: 74px;
  padding-bottom: 80px;
  margin-left: 80px;

  @media (max-width: 1023px) {
    margin-left: 0;
  }

  @media (max-width: 767px) {
    order: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 34px;
  }
}
